{% extends 'layouts/master' %}

{% block content %}
    <h2>Testing Twig templates</h2>
    <p>Name from data array: {{ name }}</p>
    <p>Environment: {{ App.environment }}</p>

    <h2>Translations</h2>
    <p>reminders.password = {{ trans("reminders.password") }}</p>

    <h2>Carbon Dates</h2>
    <p>{{ When | date('Y-m-d') }} :: {{ When.diffForHumans }} :: {{ When.toRFC822String }}</p>
    <pre>{{ dump(When) }}</pre>

    <h2>Forms</h2>
    <p>Form Errors...</p>
    {% if Session.has('errors') %}
    <p class="alert-danger">{{ errors }}</p>
    {% endif %}

    <p>The form</p>
    {{ Form.model(bear, {'route':['updateBear', bear.id] }) }}
    <div class="field{{ errors.has('name')?' error' }}">
        {% if errors.has('name') %}<span>{{ errors.first('name') }}</span>{% endif %}
        {{ Form.label('name', trans("reminders.password")) }}
        {{ Form.text('name') }}
    </div>
    <div class="field">
        {{ Form.label('other')  }}
        {{ Form.text('other') }}
    </div>
    <div class="field">
        {{ Form.submit('other') }}
    </div>
    {{ Form.close() }}

    <h2>The Laravel errors value...</h2>
    {{  dump(errors) }}

    <h2>Iterating over the Bears from Eloquent</h2>
    <div>
        {% for item in bears %}
            <p>{{ item.name }} has {{ item.votes }} votes.</p>
        {% endfor %}
    </div>
{% endblock %}
