{% extends 'layouts/master' %}

{% block content %}
    <h2>Hello {{ name }}
        {{ trans("reminders.password") }}
    </h2>

    <p>{{ When | date('Y m d') }} :: {{ When.diffForHumans }} :: {{ When.toRFC822String }}</p>
    <pre>{{ dump(When) }}</pre>



    {% if Session.has('errors') %}
    <span class="alert-danger">{{ errors }}</span>
    {% endif %}

    {{ Form.model(bear) }}
    <div class="field{{ errors.has('name')?'error' }}">
        {% if error.has('name') %}<span>{{ errors.first('name') }}</span>{% endif %}
        {{ Form.label('name', trans("reminders.password")) }}
        {{ Form.text('name') }}
    </div>
    <div class="field">
        {{ Form.label('other')  }}
        {{ Form.text('other') }}
    </div>
    <div class="field">
        {{ Form.submit('other') }}
    </div>
    {{ Form.close() }}

    {{  dump(errors) }}

    <div>
        {% for item in bears %}
            <p>{{ item.name }} has {{ item.votes }} votes.</p>
        {% endfor %}
    </div>
{% endblock %}
